@font-face {
 	 font-family: 'icomoon';
 	 src:  url('fonts/icomoon.eot?fx7tsw');
 	 src:  url('fonts/icomoon.eot?fx7tsw#iefix') format('embedded-opentype'),
   	 url('fonts/icomoon.ttf?fx7tsw') format('truetype'),
   	 url('fonts/icomoon.woff?fx7tsw') format('woff'),
   	 url('fonts/icomoon.svg?fx7tsw#icomoon') format('svg');
 	 font-weight: normal;
 	 font-style: normal;
}
